#action-bar
  input(placeholder='Enter your location', size='40')
  select(name="distance")
    option(value="1") 1 mile
    option(value="5") 5 miles
    option(value="10") 10 miles
    option(value="20") 20 miles
  a.button(href='#') Update