#block-modal.modal
  a.close(href='#') Close
  .title A New Gallery is Opening 11/1/12!
  .content A very cool gallery is opening. It has a great exhibit about things. For more information,
    a(href='#')  visit the gallery website here.