#delete-modal.modal
  a.close(href='#') Close
  .content Flyer removed from your board.
  a.undo(href='#')  Click here to undo this action.
  .further Would you like to hide other flyers based on tag1?
    .selection
      a(href='#')  Yes
      a(href='#')  No