.header.cf
  h1.logo.unit
    a(href='/') NeighBoards
  .unitRight.account-area
    .status You are logged in as smith@gmail.com
    a(href='/preferences') Update your preferences
    .spacer
    a(href='/add-flyer') Add a flyer to Neighboards
    .spacer
    a(href='/logout') Logout
