include action_bar
#container
  include header_logged_in
- for (var i=0; i<10; i++)
    .block
      h1.block-title
        a(href='#') Block title
      a.delete X
      h2.block-tags tag1, tag2, tag3
      p.block-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .block.green
      h1.block-title
        a(href='#') New store opening/local happening
      a.delete X
      h2.block-tags new, business, zoning
      p.block-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .block
      h1.block-title
        a(href='#') Block title
      a.delete X
      h2.block-tags tag1, tag2, tag3
      p.block-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .block.blue
      h1.block-title
        a(href='#') Bike stolen on 2nd Street
      a.delete X
      h2.block-tags crime, theft, bicycles
      p.block-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .block
      h1.block-title
        a(href='#') Block title
      a.delete X
      h2.block-tags tag1, tag2, tag3
      p.block-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
include delete_modal
include block_modal