include action_bar
#container
  include header_logged_in
  ul
    li
      input(type='checkbox')
      label Preference
    li
      input(type='checkbox')
      label Preference
    li
      input(type='checkbox')
      label Preference
    li
      input(type='checkbox')
      label Preference
include delete_modal_logged_out
include block_modal
include login_modal
include signup_modal