extends layout
block content
  include header_logged_in
  ul
    li
      input(type='checkbox')
      label Hide crime notifications
    li
      input(type='checkbox', checked='checked')
      label Preference 2
    li
      input(type='checkbox')
      label Preference 3
    li
      input(type='checkbox')
      label Preference 4
    li(style='margin-top: 15px')
      a.button(href='#') Save Preferences