include action_bar
#container
  include header_logged_in
  h2 Thank you for adding your flyer!
  p After it's been reviewed and approved by our admins, you can see it here on Neighboards.
  p
    a(href='/') Click here to return to the homepage.